xml and schema/Song RNG/Song-RNC.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = xml
xml = element xml {song}
song = element song {mixed{(sname | author | oneoff | verse | chorus | name)*}}
oneoff = element oneoff {n, line*}
verse = element verse {n, line*}
chorus = element chorus {n, line*}
line = element line {n, mixed{(parentheses*)}}
parentheses = element parentheses {text}
sname = element name {text}
author = element author {text}

name = attribute name {"Armor-clad Faith" | "Alone Infection"}
n = attribute n {xsd:int}
